
td.boardCell {
	border: 1px solid black;
	width: 1em;
	height: 1em;
}

.stats td {
	border: 0;
}

body {
	font-family: sans-serif;
	font-size: 0.8em;
}

#nextMoves .best {
	border: 2px dashed green;
	background: #aaffaa;
}